{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}Hello, world!{% endblock %}

{% block content %}
<body>
  <img class="logo" src="/static/css/LOGO.png" alt="logo">

  <div class="container">
    <div class="submitbox">
        <div class="row">
            <div id=imagesubmit>
              <div class="card">
                <div class="card-image">
                  <img src="/static/css/googlerolled.png">
                  <span class="card-title">Your Food Item</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                </div>
                <div class="card-content">
                  <p>Use this space here to upload your image to ATE-I, and it will take care of the rest!</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div>
        <div class="row">
                <div class="col s12 m6">
                    hello
                </div>
                <div class="col s12 m6">
                    
                </div>
        </div>
</div>
<footer class="page-footer green">
  <div class="container">
      <div class="row">
          <div class="col l6 s12">
              <h5 class="white-text">ATE-I</h5>
              <p class="grey-text text-lighten-4">ATE-I is project created by Henry Lin, Paolo Torrado, and Jack Sorensen. For more information about ATE-I's creators, please click on one of the links provided.</p>
          </div>
          <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Henry Lin</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Paolo Torrado</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Jack Sorensen</a></li>
                  
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container">
          © 2019 JHP Applications
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
  </div>
</footer>
    </body>
{% endblock %}
