{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Paolo Torrado's Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript">
            if ('{{ message }}')
            {
            var messageToLog = '{{ message }}'
            console.log(messageToLog);
            }
        </script>
        <script type="text/javascript" src="./static/app.js"></script>
</head>
{% block title %}Hello, world!{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
                <div class="col s12 m6" id="hello">
                    hello
                </div>
                <div class="col s12 m6">
                    
                </div>
                <form method="POST" action="/upload" enctype="multipart/form-data">
                  <input type="file" name="file">
                  <input type="submit">
              </form>
        </div>
</div>
<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
{% endblock %}
